* {
    margin:20px 0;
    padding: 0;
}
table {
    width: 90%;
    display: flex;
    margin: auto;
    
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
}

.form-add-car {
    display: grid;
    width: 300px;
    margin: auto;
}

h1 {
    padding-left: 40%;

}

h2 {
    padding-left: 10%;
}